<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog_post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog_post.author %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @blog_post.blog_entry %>
</p>


<h4>Comments</h4>

<% @comment.each do |text| %>
  <p><strong><%= text.author %> said...</strong></p>
  <p><%= text.comment_entry %></p>
<% end %>
  
<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>

<p></p>
<% @blog_post_id = @blog_post.id %>
<%= link_to 'Comment on this post', new_comment_path(@comment) %>
